/* ------ custom.css --------*/
/* BIGIN :: Align */

/* END :: Align */
.ht-dropdown.account-menu {
    width: 180px;
}
/* BIGIN :: Component */
legend {
    width: auto;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.custom-checkbox input[type='checkbox'] {
    display: none;
}
.custom-checkbox input[type='checkbox'] + .box {
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: all .5s ease;
    border: 1px solid #dedede;
    margin-right: 5px;
    position: relative;
}

.custom-checkbox input[type='checkbox'] + .box:after {
    content: "\2713";
    font-size: 36px;
    font-family: 'Muli', sans-serif;
    position: absolute;
    top: -7px;
    left: 2px;
    color: transparent;
    transition: all .5s ease;
}
.custom-checkbox input[type='checkbox']:checked + .box {
    transition: all .5s ease;
    border: 1px solid #666666;
}
.custom-checkbox input[type='checkbox']:checked + .box:after {
    color: #666666;
    transition: all .5s ease;
}
.btn-warning,
.btn-warning:hover {
    color: #ffffff;
}
/* END :: Component */
/* BIGIN :: Main slider */
.slider-area .single-slider[data-no="1"] { background-image:url(../img/slider/slider1.jpg); }
.slider-area .single-slider[data-no="2"] { background-image:url(../img/slider/slider2.jpg); }
/* END :: Main slider */
/* BIGIN :: Navigation custom */
.mega-menu > * > a { font-weight: bold; font-size: 1.5rem; }
.mega-menu > * > ul > li > a { line-height: 2.5rem; }
.header-sticky.is-sticky .logo-sticky { margin: 23px 0; }
/* END :: Navigation custom */
/* BIGIN :: Bootstrap grid row style { */
@media(min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media(min-width: 768px) {
    .container {
        max-width: 768%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
.row-2 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -2px; margin-left: -2px; }
.row-2 > *[class^="col-"],.row-2 > *[class$="col-"] { padding-left: 2px; padding-right: 2px; transition: all .5s ease; }
.row-3 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -3px; margin-left: -3px; }
.row-3 > *[class^="col-"],.row-3 > *[class$="col-"] { padding-left: 3px; padding-right: 3px; transition: all .5s ease; }
.row-4 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -4px; margin-left: -4px; }
.row-4 > *[class^="col-"],.row-4 > *[class$="col-"] { padding-left: 4px; padding-right: 4px; transition: all .5s ease; }
.row-5 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -5px; margin-left: -5px; }
.row-5 > *[class^="col-"],.row-5 > *[class$="col-"] { padding-left: 5px; padding-right: 5px; transition: all .5s ease; }
.row-6 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -6px; margin-left: -6px; }
.row-6 > *[class^="col-"],.row-6 > *[class$="col-"] { padding-left: 6px; padding-right: 6px; transition: all .5s ease; }
.row-7 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -7px; margin-left: -7px; }
.row-7 > *[class^="col-"],.row-7 > *[class$="col-"] { padding-left: 7px; padding-right: 7px; transition: all .5s ease; }
.row-8 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -8px; margin-left: -8px; }
.row-8 > *[class^="col-"],.row-8 > *[class$="col-"] { padding-left: 8px; padding-right: 8px; transition: all .5s ease; }
.row-9 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -6px; margin-left: -6px; }
.row-9 > *[class^="col-"],.row-9 > *[class$="col-"] { padding-left: 9px; padding-right: 9px; transition: all .5s ease; }
.row-10 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -10px; margin-left: -10px; }
.row-10 > *[class^="col-"],.row-10 > *[class$="col-"] { padding-left: 10px; padding-right: 10px; transition: all .5s ease; }
.row > *[class^="col-"],.row > *[class$="col-"] { transition: all .5s ease; }
/* } END :: Bootstrap grid row style */
/* BIGIN :: Shop item list { */
.product-action > ul > li > a.btn-list-wishlist.active:hover,
.btn-list-wishlist.active {
    color: red;
    transition: all .5s ease;
}
.btn-list-wishlist {
    transition: all .5s ease;
}
/* } END :: Shop item list */
#sct_sortlst { width: 100%; }
#sit_opt_added li {
    padding-right: 0;
}
#sit_tot_price2 {
    margin: 10px 0;
    font-size: 1.167em;
    line-height: 25px;
    font-weight: bold;
    text-align: right;
}
#sit_tot_price2 span {
    float: left;
}

#sit_tot_price2 strong {
    font-size: 1.5em;
    color: #ff0000;
}
.frm_input { height: 35px; }
/* BIGIN :: Shop wish item list { */
#sod_ws .wish-list .sod_ws_img {
    width: auto;
}
#sod_ws .wish-list .sod_ws_img a {
    display: inline-block;
}
#sod_ws .wish-list .wish_info {
    height: auto;
    min-height: 45px;
    border-bottom: 0;
}
#sod_ws .wish-list .wish_info .wish_del {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dedede;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.15rem;
}
#sod_ws .wish-list .wish_info .wish_del:hover {
    background: #eeb013;
    border-color: #eeb013;
    color: #fff;
}
.wishlist-subj-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* } END :: Shop wish item list */
/* BIGIN :: Shop detail page { */
.single-product-price .price {
	font-weight: 700;
}
.single-product-price .regular-price {
	color: #999;
	font-weight: normal;
}

.product-btn { height: 43px; line-height: 43px; }
.wishlist-compare-btn button:hover {
    background: #eeb013;
    border-color: #eeb013;
    color: #fff;
}
.wishlist-compare-btn button {
    background: none;
    border: 1px solid #ededed;
    color: #222;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    line-height: 43px;
    text-align: center;
    width: 170px;
    border-radius: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.dec-and-review-menu > li {
	padding: 0 25px;
}
.product-review-content-tab {
	border-top: 0;
	border-bottom: 0;
}
a.btn01,a.btn02 {
    background: #fff;
    border: 1px solid #ededed;
    color: #222;
}

a.btn01:hover,a.btn02:hover {
    background: #eeb013;
    border-color: #eeb013;
    color: #fff;
}
/* } END :: Shop detail page */
/* BIGIN :: Search page { */
#ssch_cate ul {
    display: flex;
}
#ssch_cate li {
    width: 100%;
    max-width: calc(20% + .8px);
    flex: 0 0 calc(20% + .8px);
    float: none;
}
/* } END :: Search page */
#login_fs .btn_submit,
#faq_sch .btn_submit {
    background: #eeb013;
    border-color: #eeb013;
    color: #fff;
}
#login_fs .btn_submit:hover,
#faq_sch .btn_submit:hover {
    background: #333;
    border-color: #333;
    color: #fff;
}
#bo_cate #bo_cate_on,
#sps_sch a {
	background: #fff;
    border-color: #333;
    color: #333;
}
#bo_cate #bo_cate_on:hover,
#sps_sch a:hover {
	background: #eeb013;
    border-color: #eeb013;
    color: #fff;
}
#sit_opt_added .num_input {
	float: none;
	padding-left: 0;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus { color: #fff !important; }
input[type="radio"],input[type="checkbox"] { width: auto; height: auto; }

.single-product-description {
    text-align: center;
}